body {
	font-family: sans-serif;
	font-size: 16px;
}

form {
	padding: 16px;
	max-width: 512px;
	margin: auto;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
button
{
	padding: 8px;
	border-radius: 8px;
	border: 1px solid #bbb;
}

input:not([type="checkbox"]):not([type="radio"]),
select
{
	display: block;
	box-sizing: border-box;
	width: 100%;
}

button {
	background-color: #ddd;
	cursor: pointer;
}

legend {
	display: block;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

fieldset {
	display: block;
	margin: 16px 0;
	padding: 0;
	border: none;
}

.radio-group > label {
	display: block;
}

.field {
	margin: 4px 0;
}

.description {
	font-size: 12px;
	margin: 4px 0;
}

.error-message {
	color: red;
	font-size: 12px;
}

.success-message {
	color: green;
	font-size: 12px;
}

.info-message {
	font-size: 12px;
}

.custom {
	display: none;
}