$primary-color: #ddd;
$background-color: #f9f9f9;
$text-color: #333;
$success-color: #4caf50;
$error-color: #f44336;

$field-border-color: #bbb;
$field-border-radius: 4px;
$field-background-color: #fff;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@mixin form-section {
	display: block;
	margin: 32px 0;
}

@mixin form-element {
	margin: 8px 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: $background-color;
	color: $text-color;
}

form {
	padding: 16px;
	max-width: 512px;
	margin: auto;
}

.form-section {
	@include form-section;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.form-section-heading {
		font-weight: bold;
	}

	.description {
		margin-top: 0;
	}
}

.array-item {
	@include form-section;

	> .form-section {
		margin: 0;
	}
}


input:not([type="checkbox"]):not([type="radio"]),
select,
button
{
	padding: 8px;
	border-radius: $field-border-radius;
	border: 1px solid $field-border-color;
	background: $field-background-color;
	font-size: 'Open Sans', sans-serif;
}

input:not([type="checkbox"]):not([type="radio"]),
select
{
	display: block;
	box-sizing: border-box;
	width: 100%;
}

button {
	background-color: $primary-color;
}

legend {
	display: block;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

fieldset {
	padding: 0;
	border: none;
}

.radio-group > label {
	display: block;
}

.field {
	@include form-element;
}

.message {
	margin: 4px 0;
	font-size: 12px;
}

.error-message {
	color: $error-color;
}

.success-message {
	color: $success-color;
}

.custom {
	display: none;
}