@mixin form-section {
	display: block;
	margin: 32px 0;
}

@mixin form-element {
	margin: 8px 0;
}

body {
	font-family: sans-serif;
	font-size: 16px;
}

form {
	padding: 16px;
	max-width: 512px;
	margin: auto;
}

.form-section {
	@include form-section;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.description {
		margin-top: 0;
	}
}

.array-item {
	@include form-section;

	> .form-section {
		margin: 0;
	}
}


input:not([type="checkbox"]):not([type="radio"]),
select,
button
{
	padding: 8px;
	border-radius: 8px;
	border: 1px solid #bbb;
}

input:not([type="checkbox"]):not([type="radio"]),
select
{
	display: block;
	box-sizing: border-box;
	width: 100%;
}

button,
select,
input[type="color"]
{
	background-color: #ddd;
}

legend {
	display: block;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

fieldset {
	padding: 0;
	border: none;
}

.radio-group > label {
	display: block;
}

.field {
	@include form-element;
}

.message {
	margin: 4px 0;
}

.error-message {
	color: red;
}

.success-message {
	color: green;
}

.custom {
	display: none;
}